.home {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.developer-profile {
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.task-view {
  min-height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  position: relative;
  hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .task-details {
    margin-bottom: 50px;
    .task-spec {
      font-weight: 600;
    }
  }
  .finish-btn {
    background: #c62828 !important;
  }
}

.login {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .wrong {
    position: absolute;
    background: black;
    color: white;
    padding: 16px;
    top: 1px;
    right: 5px;
  }
}
