@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

.home {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  font-family: 'Mansalva', cursive;
}

.developer-profile {
  min-height: 80vh;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.task-view {
  margin-top: 40px;
  min-height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  position: relative;
  min-height: 90vh;
  display: flex;
  justify-content: flex-start;
  .row {
    margin-top: 30px;
    width: 100%;
    background: white;
    filter: drop-shadow(1px 1px 1px black);
    min-height: 320px;
    padding: 20px;
  }
  .task-details {
    .task-spec {
      font-weight: 600;
    }
  }
  .finish-btn {
    position: absolute;
    bottom: 100px;
    background: #c62828 !important;
  }
  .tabs {
    a.active {
      color: rgb(198, 40, 40) !important;
    }
  }
}

.login {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .wrong {
    position: absolute;
    background: black;
    color: white;
    padding: 16px;
    top: 1px;
    right: 5px;
  }
}
