.img-frame {
  cursor: pointer;
  position: relative;
  padding: 3px;
  img {
    max-height: 330px;
    object-fit: cover;
  }

  .img-frame-name {
    position: absolute;
    margin: 0 auto;
    bottom: 5%;
    color: white;
    width: 100%;
    text-align: center;
  }
}

.profile-card {
  display: flex;
  flex-direction: column;
  .profile-card-frame {
    display: flex;
    
  }

  .details-card {
    margin-left: 15px;
    background: #FBFFFE;
    height: 400px;
    width: 645px;
    padding: 30px;
    filter: drop-shadow(2px 4px 6px black);
    .details-card-spec {
      color: #ef6c00;
    }
  }
}

.flashy {
  img {
    filter: grayscale(1);
    transition: all 1s;
    &:hover {
      filter: grayscale(0);
    }
  }
}
