.nav-wrapper {
  background: #424242;
}

.navbar-photo {
  position: relative;
  display: flex;
  align-items: center;
  height: 64px;
  img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
}
