@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

.nav-wrapper {
  background: #424242;
  a.brand-logo {
    font-family: 'Mansalva', cursive;
  }
}

.navbar-photo {
  position: relative;
  display: flex;
  align-items: center;
  height: 64px;
  img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
}
