.task-form {
  background: beige;
  padding: 50px;
  min-width: 500px;
}

.radio-btn-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 18vw;
  top: 28vh;
  button {
    background: #0d47a1;
    color: white;
    margin-top: 13px;
  }
}

.add-message {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 60px;
  margin-top: 30px;
  .add-message-text {
    display: flex;
    align-items: center;
  }
  .add-message-send {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
  button {
    border: 1px solid #4caf50;
    color: #4caf50;
  }
  textarea {
    min-width: 355px;
  }
}
