.task-form {
  background: beige;
  padding: 50px;
  min-width: 500px;
}

.radio-btn-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 18vw;
  top: 28vh;
  button {
    background: #0d47a1;
    color: white;
    margin-top: 13px;
  }
}

.add-message {
  display: flex;
  flex-direction: column;
  min-height: 290px;
  justify-content: space-between;
  .add-message-text {
    display: flex;
    align-items: center;
  }
  .add-message-send {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }
  button {
    border: 1px solid #4caf50;
    color: #4caf50;
    transition: 0.5s all;
    &:hover {
      background: #4caf50;
      color: white;
    }
  }
  textarea {
    min-width: 514px;
  }
}
