.task-form {
  background: beige;
  padding: 50px;
  min-width: 500px;
}

.radio-btn-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 18vw;
  top: 28vh;
  button {
    background: #0d47a1;
    color: white;
    margin-top: 13px;
  }
}

.add-message {
  display: flex;
  flex-direction: column;
  min-height: 290px;
  justify-content: space-between;
  .add-message-text {
    display: flex;
    align-items: center;
    .no-msg-error {
      border-bottom: 1px solid #c62828;
    }
  }
  .add-message-send {
    display: flex;
    width: 90%;
    justify-content: space-between;
    .add-message-send-file {
      display: flex;
      align-items: center;
      button {
        margin-bottom: -29px;
        text-transform: lowercase !important;
        color: gray;
        &:hover {
          background: transparent;
          color: gray;
        }
        &:focus {
          background: transparent;
          color: gray;
        }
      }
    }
    .file-too-big {
      font-size: 12px;
      margin-left: 11px;
      color: #c62828;
    }
  }
  button {
    margin-top: -34px;
    background: transparent;
    color: gray;
    &:focus {
      color: white;
      background: #01579b;
      filter: opacity(0.8);
    }
    &:hover {
      color: white;
      background: #01579b;
      filter: opacity(0.8);
    }
  }
  textarea {
    min-width: 514px;
  }
}
